<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Syn_GatePass.Properties.Settings.Syn_GatePassConnectionString" connectionString="Data Source=DESKTOP-T4CEII2\SQLEXPRESS;Initial Catalog=Syn_GatePass;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Server" value="DESKTOP-T4CEII2\SQLEXPRESS"/>
    <!--tcp:192.168.100.12-->
    <add key="Server_Mode" value="Windows"/>
    <!--Windows-->
    <add key="Catalog" value="Syn_GatePass"/>
    <add key="uid" value="sa"/>
    <add key="psd" value="INS"/>
    <add key="FingerPrint-IP" value="192.168.1.201"/>
    <add key="FingerPrint-Port" value="4370"/>
    <add key="FingerPrint-Machine" value="1"/>
    <add key="App_Type" value="Admin"/>
    <add key="Direct_Print" value="YES"/>
    <add key="BackupPath" value="D:\Backup_"/>
    <add key="ReceiptSlip" value="\Reports\rptVisit.rpt"/>
    <add key="NonExitReport" value="\Reports\rptNonExit.rpt"/>
    <add key="VisitReport" value="\Reports\rptVisitReportAll.rpt"/>
    <add key="Source_Type" value="1"/>
    <!--1 Or 2-->
    <add key="Source" value="Canteen-1"/>
    <add key="FingerRetryCount" value="5"/>
    <add key="System" value="System - 1"/>
    <add key="default_user_id" value="2"/>
    <!--<add key="default_user" value="General"/>
   
    <add key="DefaultCreditType" value="Credit"/>
    
    <add key="Backup_Location" value="G:\SHAFEEQU\Projects\InMag GST\InMag-GST"/>-->
  </appSettings>
  <startup>

    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
